

.carousel-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  display: none;
  width: 100%;
  height: 600px;
}

.carousel-image.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.445); /* Semi-transparent black */
 }  

 /*
.contect-bg{
  background-image: url(https://i.pinimg.com/236x/a3/01/d4/a301d4da38beab205f342fab15c31438.jpg);
  background-repeat: no-repeat; 
} */
.bgiamge
{
  background-image: url(../public/photo1.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(100%);
}
.main-content
{
background-image: url(../public/1.png);
position: relative;
background-repeat: no-repeat;
}